
.colorblock {
    position: absolute;
    margin: 1%;
    background-color: black;
    color: white;
    width: 46%;
    height: 94%;
    opacity: .80;
}
body{
    margin: 0%;
}
.ellipsebutton {
    z-index: 1;
    margin-left: 3%;
    margin-top: 2%;
    width:2%;
    height:4%;
    display: block;
    border-radius: 100%;
    position: absolute;
    background-color: white;
    padding: 15px 10px 5px 10px;
}

hr{
    margin-top:5px;
    margin-bottom: 5px;
    width:60%;
    background-color: black;
    color:black;
    height:1px;
}

.images img{
    position: absolute;
    z-index: -1;
    background-size: 140%;
    transform: scale(1.5);
}
.imageblock {

    height: 99%;
    width: 99%;
    position: absolute;
}

.logo {
    z-index: 1;
    position: absolute;
    margin: 16% 0% 5% 3%;
    width: 15%;
}
