.galochka{
    position: absolute;
    left:93%;
    top:80%;
    height: 6%;
    width: 3%;
    border-radius: 70px 70px 70px 70px;
}
.colorblock {
    position: absolute;
    margin: 1%;
    background-color: #1640e5;
    color: white;
    width: 46%;
    height: 94%;
    opacity: .90;
}
body{
    margin: 0%;
}
.ellipsebutton {
    z-index: 1;
    margin-left: 3%;
    margin-top: 2%;
    width:2%;
    height:4%;
    display: block;
    border-radius: 100%;
    position: absolute;
    background-color: white;
    padding: 15px 10px 5px 10px;
    
}
.arrowButton
{
    position: absolute;
    z-index: -1;
}
hr{
    margin-top:7px;
    margin-bottom: 5px;
    width:60%;
    background-color: black;
    color:black;
    height:2px;
}

.images img{
    position: absolute;
    z-index: -1;
    background-size: 140%;
    transform: scale(1.5);
}
.imageblock {

    height: 99%;
    width: 99%;
    position: absolute;
}

.logo {
    z-index: 1;
    position: absolute;
    margin: 16% 0% 5% 3%;
    width: 15%;
}

.header {
    padding-right: 30%;
    margin-top:20%; 
    font-size:65px;
    font-weight: 700;
}

.text {
    padding-right: 15%;
    margin-top:15%;
    font-size:35px;
    color:#345aef;
}
.current img{
    top:0%;
}
.prev img{
    top:-150%;
}
.next img{
    top:250%;
}
